@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
  margin: 0;
  font-family: 'Courier Prime', monospace;
  background: white;
  color: black;
}

h1, h2, h3 {
  font-weight: normal;
  margin-top: 0;
}
