---
import { fix } from "./utils/fix.js";
const { footerPages = [] } = Astro.props;
---

<footer class="desktop-footer">
  {
    footerPages.map((p, i) => (
      <>
        <a href={`/${p.slug}`}>{fix(p.title?.rendered || "")}</a>
        {i < footerPages.length - 1 && <span class="dot">·</span>}
      </>
    ))
  }
</footer>
